AIRFLOW_IMAGE_NAME=<your-value>
AIRFLOW_UID=<your-value>
FERNET_KEY=<your-value>
AIRFLOW_PROJ_DIR=<your-value>
AIRFLOW__API_AUTH__JWT_SECRET=<your-value>
AIRFLOW__API_AUTH__JWT_ISSUER=<your-value>
AIRFLOW__API__SECRET_KEY=<your-value>
AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS=<your-value>
_AIRFLOW_WWW_USER_USERNAME=<your-value>
_AIRFLOW_WWW_USER_PASSWORD=<your-value>

POSTGRES_USER=<your-value>
POSTGRES_PASSWORD=<your-value>
POSTGRES_DB=<your-value>

POSTGRES_PIPELINE_META_USER=<your-value>
POSTGRES_PIPELINE_META_PASSWORD=<your-value>
POSTGRES_PIPELINE_META_DB=<your-value>
POSTGRES_PIPELINE_META_HOST=<your-value>
POSTGRES_PIPELINE_META_PORT=<your-value>

PROJ_DIR=<your-value>

NBAHL_ENV=<your-value>
PROFILE_NAME=<your-value>
AWS_CONN_ID=<your-value>
AWS_DIR=<your-value>
